.form-control {
    height: 50px !important;
    width: 100% !important;
    padding-left: 60px !important;
}

.form-control:focus, .form-control[data-focus] {
    border-color: #3182ce;
    box-shadow: 0 0 0 1px #3182ce;
}

.flag-dropdown {
    width: 50px !important;
}

.react-tel-input, .flag-dropdown {
    background-color: transparent!important;
    border: none!important;
}

.react-tel-input, .flag-dropdown.open, .selected-flag {
    background: none!important;
    border-radius: none!important;
}

.react-tel-input, .selected-flag:hover, .selected-flag:focus {
    background: none!important;
    border-radius: none!important;
}